body  {
    background-color: #222;
    font-size: 24px;
    font-family: Inconsolata, monospace;
}
p {
    margin: 0;
}

.circle {
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
}
.input {
    position: relative;
    left: -16px;
}
.output {
    float: right;
    position: relative;
    left: 16px;
}

.title {
    cursor: grab;
}
div.area {
    border: 1px dashed #555;
    width: 1024px;
    height: 768px;
}
div.card {
    background: #555;
    border: 2px solid #999;
    border-radius: 8px;
    padding: 8px;
    position: absolute;
}
div.inputs {
    font-size: 60%;
    float: left;
    background-color: pink;
}
div.outputs {
    font-size: 60%;
    float: right;
    background-color: cyan;
}