body  {
    background-color: #222;
    font-size: 24px;
    font-family: Inconsolata, monospace;
}
p {
    margin: 0;
}
.title {
    cursor: grab;
}
div.area {
    border: 1px dashed;
    width: 1024px;
    height: 1024px;
}
div.card {
    background: #555;
    border: 2px solid #999;
    border-radius: 8px;
    padding: 8px;
    position: absolute;
}
div.inputs {
    width: 16px;
    float: left;
    background-color: pink;
}
div.outputs {
    width: 16px;
    float: right;
    background-color: cyan;
}